/* PHASE 5: Cats */

.content-header {
  height: 200px;
  background-image: url("../images/cats.jpg");
  width: 900px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1px;
}

.content-header h1 {
  font: inherit;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  text-shadow: 2px 2px;
  line-height: 30px;
}
